/* Styles pour le bouton de menu */
.menu-btn {
    display: block; /* Assurez-vous qu'il est visible */
    cursor: pointer;
    /* Ajoutez d'autres styles selon vos préférences */
}

.bar {
    width: 30px;
    height: 3px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s;
}
